@use "@angular/material" as mat;

@mixin color($background-color, $table-background, $text-color) {
  background-color: $background-color;
  $text-color: $text-color;

  app-dashboard {
    .mdc-data-table__header-cell {
      background-color: #{$table-background};
    }
    h1,
    table {
      color: $text-color;
    }
    .mdc-data-table__pagination-total,
    .mdc-data-table__pagination-rows-per-page-label,
    .mdc-data-table__cell,
    .mdc-data-table__header-cell {
      color: #{$text-color};
      background-color: #{$table-background};
    }

  }
}

@mixin theme($background-color, $table-background, $text-color) {
  $background-color: $background-color;
  $table-background: $table-background;

  @include color($background-color, $table-background, $text-color);
}
