:host {
  display: block;
  border-radius: 10px;
  padding: 12px;
}

:host:hover {
  background-color: rgb(49, 49, 49);
  transition: 0.3s;
}

img {
  height: 30px;
  width: 30px;
}

section {
  display: flex;
  gap: 8px;
}

article {
  display: flex;
  gap: 10px;

  .posValue {
    color: green !important;
  }

  .negValue {
    color: red !important;
  }
}
