<div color="primary">
  <mat-toolbar color="primary">
    <section>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>CryptX</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </section>

    <mat-form-field appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <input
        [(ngModel)]="searchQuery"
        (keydown.enter)="onSearch()"
        matInput
        placeholder="Search"
        (focus)="onInputFocus()"
        (blur)="onInputBlur()"
      />
    </mat-form-field>
    <span *ngIf="openDropDown" class="nav__search-drop-down">DROP</span>
  </mat-toolbar>
</div>