mat-toolbar {
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

:host {
  & > div {
    width: 100%;
    background-color: #673ab7;
  }
  ::ng-deep .mat-mdc-form-field-flex {
    align-items: center;
  }
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper,
  ::ng-deep .mat-mdc-form-field-flex {
    height: 36px;
    color: #673ab7;
  }
}

section {
  display: flex;
}

section > span {
  display: flex;
  align-items: center;
}

.nav__search-drop-down {
  position: absolute;
  right: 1.6rem;
  top: 4.9rem;
  width: 24.8rem;
  background-color: #27262a;

  .nav__drop-down-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 30px;
    margin: 10px 0;

    span {
      display: flex;
      align-items: center;

      .item-icon {
        height: 3rem;
        width: 3rem;
        margin: 0.5rem;
      }
      .item-id {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .item-rank{
      display: flex;
      align-items: center;
    }
    ::ng-deep {
      .mdc-button__label {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 2rem 0;
      }
      .mat-mdc-button-touch-target {
        height: 42px;
      }
    }
  }

  .item-rank {
    width: 45px;
    display: flex;
  }
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;

  .mat-icon {
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
  }
  .material-icons {
    font-size: 16px !important;
  }
}
