<mat-toolbar color="primary">
  <div>
    <section>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>CryptX</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </section>

    <mat-form-field appearance="fill" #inputListener>
      <mat-icon matPrefix>search</mat-icon>
      <input
        (click)="openDropDown(searchQuery)"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearch($event)"
        matInput
        placeholder="Search"
      />
      <!-- ngModelChange should be changed above -->
    </mat-form-field>
    <span
      *ngIf="isDropOpen$ | async"
      class="nav__search-drop-down"
      #inputListener
    >
      <div *ngFor="let coin of searchData | async; let i = index">
        <button mat-button class="nav__drop-down-item">
          <span>
            <img [src]="coin.large" class="item-icon" />
            <div class="item-id">{{ coin.name }}</div>
          </span>
          <div class="item-rank">#{{ coin.market_cap_rank }}</div>
        </button>
      </div>
    </span>
  </div>
</mat-toolbar>
