<app-nav-bar> </app-nav-bar>

<div class="container">
  <div class="header" *ngIf="coinDetails | async as coinData">
    <!-- number details about the coin -->
    <div class="description__general">
      <span> Rank #{{ coinData.market_data.market_cap_rank }}</span>

      <aside>
        <img [src]="coinData.image.small" alt="" />

        <b>{{ coinData.name }}</b>
        <span> {{ coinData.symbol | uppercase }}</span>
      </aside>

      <aside>
        <b>$ {{ coinData.market_data.current_price.usd }}</b>
        <i class="bi bi-arrow-up-short"></i>
        <span> {{ coinData.market_data.price_change_percentage_24h }} %</span>
      </aside>

      <aside class="watchlist">
        On {{ coinData.watchlist_portfolio_users }} watchlists
      </aside>

      <aside>Divider</aside>

      <article>
        <div>
          <span>Market Cap</span>
          <b>$ {{ coinData.market_data.market_cap.usd }}</b>
        </div>
        <div>
          <span>Total Supply</span>
          <b> {{ coinData.market_data.total_supply }}</b>
        </div>

        <div>
          <span>Max Supply</span>
          <b> {{ coinData.market_data.max_supply }}</b>
        </div>

        <div>
          <span>Circulating Supply</span>
          <b> {{ coinData.market_data.circulating_supply }}</b>
        </div>

        <div>
          <span>All Time Hitgh</span>
          <b> {{ coinData.market_data.ath.usd }}</b>
        </div>
      </article>

      <!-- <span> {{ coinData.sentiment_votes_up_percentage }} </span>
        <span> {{ coinData.sentiment_votes_down_percentage }} </span> -->
    </div>

    <!-- Info & links about coin -->
    <div class="info__container" *ngIf="coinData as coinData">
      <span><b>Info</b></span>

      <article>
        <p>Website</p>
        <span>
          {{ coinData.website | urlDomain }}
        </span>
      </article>

      <article>
        <p>Explorers</p>
        <h6>
          <div *ngFor="let blockchain of coinData.links.blockchain_site">
            <ng-container *ngIf="isNotEmptyString(blockchain)">
              {{ blockchain | urlDomain }}
            </ng-container>
          </div>
        </h6>
      </article>

      <article>
        <p>Community</p>
        <div>
          <span>
            <i class="bi bi-arrow-up-short"></i>
            Reddit
          </span>

          <span>
            <i class="bi bi-arrow-up-short"></i>
            Facebook
            <!-- facebook_username -->
          </span>
          <span>
            {{ coinData.links.official_forum_url | urlDomain }}
          </span>
        </div>
      </article>
      <article>
        <p>Search on</p>
        <span>
          <i class="bi bi-arrow-up-short"></i>
          Twitter
          <!-- twitter_screen_name -->
        </span>
      </article>
      <article>
        <p>Source Code</p>
        <span>
          <i class="bi bi-arrow-up-short"></i>
        </span>
      </article>
      <article>
        <p>Tags</p>
        <span>Cryptocurrency</span>
      </article>
    </div>
  </div>

  <div>
    <span>General</span>
    <span>Social</span>
    <span>Description</span>
    <span>Develope</span>
  </div>

  <div>
    <canvasjs-chart
      [options]="chartOptions"
      [styles]="{ width: '100%', height: '360px' }"
      (chartInstance)="getChartInstance($event)"
    ></canvasjs-chart>
  </div>
</div>
