.container {
  width: 1170px;
  display: block;

  margin: 40px auto;
}

.header {
  display: flex;
}

///////////////////////////////description__general////////////////////////

.description__general {
  & > span {
    background-color: rgb(31, 41, 55);
    color: #fff;
  }

  aside:nth-of-type(1) {
    img {
      width: 2.8rem;
    }
    span {
      font-size: 2rem;
    }
    b {
      font-size: 1.8rem;
    }
    background-color: lime;
  }
  .watchlist {
    background-color: lightgray;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    width: 100%;
    max-width: 800px;

    div {
      display: flex;
      justify-content: space-between;
      width: 350px;
    }

    div {
      position: relative;
    }
    div::after {
      content: "";
      width: 100%;
      height: 0.2em;

      /* background-color: var(--c-title-underline-color); */
      background: red;

      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }
}

///////////////////////////////Info & links about coin////////////////////////

.info__container {
  width: 45%;
  & > span {
    font-size: 2rem;
    padding: 2px 5px 2px 0;
  }

  article {
    display: flex;
    flex-wrap: nowrap;
    p {
      width: 12rem;

      font-size: 1.3rem;
    }
  }
}
